<div class="col-6 card-section-wrapper-border" style="flex-shrink: 1;">
    <div style="padding: 20px 0 15px 0px; border-bottom: 1.5px solid var(--primary-format-color); margin-bottom: 15px;">
        <%- include('../../partials/cardHeader.html', {title: 'Scope of Feed', subtitle: '', underline: false, singleLine: false}); %>
    </div>
    <div style="margin: 26px;">
        <div>
            <span class="fs-7">What is included</span>
            <p class="fs-7">All the software solutions helping companies manage their finance and accounting functions will be covered in the feed. This will include all the legacy software companies be it on-premise liscenced or cloud-based software.</p>
        </div>
        <div>
            <span class="fs-7">What is not included</span>
            <p class="fs-7">Pure play survices firm that offers accounting related services. Companies focused only on financing will not be covered. Companies providing solutions for anyspecific sector will not be covered.</p>
        </div>
    </div>  
</div>