<!--begin:: Competitive Analaysis TopCompanies -->
<div class="<%= columnSetting %> card-section-wrapper-border" style="flex-shrink: 1;">
    <div style="padding: 20px 0 15px 0px; border-bottom: 1.5px solid var(--primary-format-color); margin-bottom: 15px;">
        <%- include('../../partials/cardHeader.html', {title: cardTitle, subtitle: '', underline: false, singleLine: false}); %>
    </div>
    <div style="padding: 15px 0 0 0; display: flex; flex-wrap: wrap; gap: 1.75rem 1rem; justify-content: space-evenly;">
        <% for (let i = 0; i < cardData.length; i ++) { %>
            <div class="d-flex col-5 align-items-center justify-content-between" style="padding: 5px 10px 5px 5px;">
                <div class="d-flex">
                    <div class="company-logo-placeholder" style="height: 30px; width: 30px; background-color: var(--logo-placeholder-grey-color);"></div>
                    <div class="d-flex flex-column flex-grow-3">
                        <span class="d-flex competitive-analysis-card">
                            <%= cardData[i].companyName %>
                        </span>
                        <span class="competitive-analysis-card" style="font-size: 0.58rem; line-height: 10px; color:var(--teriary-text-color-grey);">
                            (<%= cardData[i].companyStat %>)
                        </span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<!--end:: Competitive Analaysis TopCompanies -->