<!--begin:: Competitive Analaysis top Investors Card -->
<section class="col-6 card-section-wrapper-border" style="flex-shrink: 1;">
    <div style="padding: 20px 0 15px 0px; border-bottom: 1.5px solid var(--primary-format-color); margin-bottom: 10px;">
        <%- include('../../partials/cardHeader.html', {title: cardTitle, subtitle: '', underline: false, singleLine: false}); %>
    </div>
<div class="d-flex justify-content-between" style="font-size:0.75rem; font-weight:700; padding: 0 26px 5px 26px; color: var(--primary-text-color-black);">
    <span class="col-1" style="flex-grow:1;"><%= cardColumnTitle[0] %></span>
    <span class="col-5" style="flex-grow:2;"><%= cardColumnTitle[1] %></span>
    <span class="col-3" style="flex-grow: 0;  display: flex; justify-content: flex-end;"><%= cardColumnTitle[2] %></span>
</div>
<div style="padding: 5px 0 0 0;">
    <% for (let i = 0; i < cardData.length; i ++) { %>
        <div class="d-flex align-items-center" style="display: flex; align-items: center; border-top: 1px solid var(--primary-format-color); FONT-WEIGHT: 400; font-size: 0.69rem; color: var( --secondary-format-color); background: var(--secondary-format-grey-color);">
            <div style="max-width: 78px; width: 78px; display: flex; padding: 0 20px;">
                <span style="flex-wrap: wrap;">
                    <%= cardData[i].stage %>
                </span>
            </div>
            <div class="d-flex" style="flex-direction: column; background-color: white; flex-grow: 2; padding: 17px 30px 17px 35px";>
                <% for (let j = 0; j < cardData[i].investorData.length; j ++) { %>
                    <div style="justify-content: space-between; display: flex;">
                        <span><%= cardData[i].investorData[j].name %></span>
                        <span><%= cardData[i].investorData[j].portfolio %></span>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
</section>
<!--end:: Competitive Analaysis top Investors Card -->