 <!--begin::Card-->
<div class="card rounded-0 w-100">
    <!--begin::Card header-->
    <div class="card-header pe-5">
        <!--begin::Title-->
        <div class="card-title">
            <!--begin::User-->
            <div class="d-flex justify-content-center flex-column me-3 w-70px">
                <img src="<%= data.company_info.logo %>" />
            </div>
            <div class="d-flex justify-content-center flex-column me-3">
                <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 lh-1"><%= data.company_info.name %></a>
            </div>
            <!--end::User-->
        </div>
        <!--end::Title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Close-->
            <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_example_dismiss_close">
                <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>
            </div>
            <!--end::Close-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body hover-scroll-overlay-y">
        <div class="mb-7">
            <!--begin::Label-->
            <label class="fs-6 fw-semibold form-label mt-3">
                <span>Notes</span>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <textarea class="form-control form-control-solid" style="max-width: 500px;" rows="3" id="watchlistnotes" name="watchlistnotes"><%= data.notes %></textarea>
            <!--end::Input-->
        </div>

        <!--<div class="separator separator-dashed mt-6 mb-6"></div>-->

        <span class="badge badge-warning fs-9 mb-1 m-auto">Coming soon</span>

        <div class="row g-6 g-xl-9 opacity-50">
            <div class="col">
                <!--begin::Card-->
                <div class="card border">
                    <!--begin::Card body-->
                    <div class="card-body p-4">
                        <!--begin::Heading-->
                        <div class="fs-6 fw-semibold mb-7">Set an alert, <b>WHEN</b></div>
                        <!--end::Heading-->
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-wrap">
                            <div class="form-check form-check-custom form-check-solid me-9">
                                <input class="form-check-input" type="checkbox" value="" id="watchlistfund" <%= data.fundalert ? "checked": "" %>>
                                <label class="form-check-label ms-3" for="fund">
                                    A funding round was completed
                                </label>
                            </div>

                            <div class="form-check form-check-custom form-check-solid me-9">
                                <input class="form-check-input" type="checkbox" value="" id="watchlistheadcount" <%= data.headcountalert ? "checked": "" %>>
                                <label class="form-check-label ms-3" for="headcount">
                                    Headcount increased quarterly by
                                </label>
                                <div class="input-group" style="width: 94px; margin-left: 8px;">
                                    <input type="text" class="form-control h-40px" style="width: 50px;" value="<%= data.headcountalert ? data.headcountalert.value : '' %>" placeholder="" aria-label="%" aria-describedby="basic-addon1" id="headcountincrease">
                                    <span class="input-group-text h-40px" id="basic-addon1">%</span>
                                </div>
                            </div>

                            <div class="form-check form-check-custom form-check-solid me-9">
                                <input class="form-check-input" type="checkbox" value="" id="watchlistleadership" <%= data.leadershipalert ? "checked": "" %>>
                                <label class="form-check-label ms-3" for="fund">
                                    Leadership change
                                </label>
                            </div>
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Card body-->
                </div>
                <div class="separator separator-dashed mt-6"></div>

                <div class="card card-flush opacity-50">
                    <!--begin::Header-->
                    <div class="card-header ps-0">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="text-gray-500 fw-semibold fs-6">Latest activities</span>
                        </h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-0 ps-0">
                        <!--begin::Timeline-->
                        <div class="timeline-label">
                            <!--begin::Item-->
                            <div class="timeline-item">
                                <!--begin::Label-->
                                <div class="timeline-label fw-bold text-gray-800 fs-8">September 23, 2023</div>
                                <!--end::Label-->
                                <!--begin::Badge-->
                                <div class="timeline-badge">
                                    <i class="ki-outline ki-abstract-8 text-gray-600 fs-3"></i>
                                </div>
                                <!--end::Badge-->
                                <!--begin::Text-->
                                <div class="fw-semibold text-gray-700 ps-3 fs-7">
                                    20M funding by Insight Partners (Series A)
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="timeline-item">
                                <!--begin::Label-->
                                <div class="timeline-label fw-bold text-gray-800 fs-8">June 23, 2023</div>
                                <!--end::Label-->
                                <!--begin::Badge-->
                                <div class="timeline-badge">
                                    <i class="ki-outline ki-abstract-8 text-gray-600 fs-3"></i>
                                </div>
                                <!--end::Badge-->
                                <!--begin::Text-->
                                <div class="fw-semibold text-gray-700 ps-3 fs-7">
                                    Company headcount grew by 50% in the past 180days
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Timeline-->
                    </div>
                    <!--end: Card Body-->
                </div>
                <!--end::Card-->
            </div>
        </div>
    </div>
    <!--end::Card body-->
    <!--begin::Card footer-->
    <div class="card-footer">
        <!--begin::Dismiss button-->
        <button class="btn btn-light-primary" onclick="_watchlistPg.updatewatchlist();">Save</button>
        <button class="btn btn-light-danger float-end" onclick="_watchlistPg.deletewatchlist();">Delete this watch</button>
        <!--end::Dismiss button-->
    </div>
    <!--end::Card footer-->
</div>
<!--end::Card-->