<!--begin::Details-->
<div class="d-flex flex-wrap flex-column flex-sm-nowrap company-details">
    <!--begin: Pic-->
    <div class="symbol symbol-36px symbol-lg-50px symbol-fixed position-relative" style="padding:10px; border-radius: 8px; border: 1px solid rgba(229, 231, 235, 1); width: fit-content;">
        <img src="<%= data.logo %>" alt="image" />
    </div>
    <!--end::Pic-->
    <div class="flex-grow-1" style="padding-top:18px;">
        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
             <!--begin::CompanyInfo-->
            <div class="d-flex flex-column" style="margin-bottom: 50px;">
                <!--begin::CompanyName-->
                <h2 class="d-flex align-items-center mb-2">
                    <a href="#" class="company-details-header">
                        <%= data.name %>
                    </a>
                </h2>
                <!--end::CompanyName-->
                <!--begin::CompanyInfo-->
                <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                    <div class="d-flex align-items-center">
                        <ul class="d-flex me-4" style="padding: 0; margin: 0">
                            <% if(data.fundingInfo){ %>
                                <li class="me-4">
                                    <%- include ('partials/badge.html', {text:  data.fundingInfo[ data.fundingInfo.length - 1].round_type, color: data.configs.companyTable.badges.seriesA}); %>
                                </li>
                            <% } %>
                            <% if(data.tags){ %>
                                <li>
                                    <%- include ('partials/badge.html', {text:  data.tags[0].notes, color: '--dark-purple-accent'}); %>
                                </li>    
                            <% } %>
                        </ul>
                        <div class="d-flex align-items-center me-4 symbol-16px symbol-lg-20px symbol-fixed position-relative">
                            <img class="me-1" src="/vendors/media/icons/location.svg" alt="image">
                            <span class="company-details-span" style="color: var(--grey-font-icons);"><%= data.location.city %>, <%= data.location.country %></span>
                        </div>
                        <div class="d-flex align-items-center me-4 symbol-16px symbol-lg-20px symbol-fixed position-relative">
                            <img class="me-1" src="/vendors/media/icons/calendar.svg" alt="image">
                            <span class="company-details-span" style="color: var(--grey-font-icons);"><%= new Date(data.founding_date).toLocaleString('en-us',{day: 'numeric', month: 'short', year: 'numeric'}) %></span>
                        </div>
                    </div>
                </div>
                <!--begin::Socials-->
                <div class="d-flex">

                    <% 
                    <!-- Globe is website link that will be added from elsehwere in data, the rest are parsed from socials array -->
                    const socialsToInclude = ['twitter', 'linkedin', 'crunchbase'];
                    const websiteData =   {
                        id: 0,
                        company_id: 1,
                        media_type: 'website',
                        url: `https://${data.website}`,
                        likes: 0,
                        followers: 0
                      };
                    const socials = [websiteData].concat(data.socialMedia.filter((e) => socialsToInclude.includes(e.media_type.toLowerCase()))).map((j, k) => {
                        return {...j, id: k };
                    });
                    %>
                  
                    <% for(var i = 0; i < socials.length; i++) { %>
                    <a href="<%= `${socials[i].url}` %>"  class="symbol symbol-14px d-flex" style="padding: 10px; border-radius: 100px; border: 1px solid var(--primary-format-color); margin-right: 7px;" >
                        <img style="height: 14px; width: 14px;" src="<%= `/vendors/media/icons/${socials[i].media_type.toLowerCase()}-small.svg` %>" alt="image">
                    </a>
                    <% } %>
                </div>
                <!--end::Socials-->
                <!--begin::Description-->
                <span class="fs-7 mt-4"><%= data.description %></span>
                <!--end::Description-->
            </div>
             <!--end::CompanyInfo-->
        </div>
    </div>
</div>
<!--end::Details-->