<div class="accordion-body">
    <!--begin::Compact form-->
    <div class="d-flex align-items-center">
        <!--begin::Input group-->
        <div class="position-relative w-md-400px me-md-2">
            <i class="ki-outline ki-magnifier fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"></i>
            <input type="text" class="form-control form-control-solid ps-10" name="searchcompanyname" value="" placeholder="Search by Company name" />
        </div>
        <!--end::Input group-->
        <div class="d-flex align-items-center">
            <button type="submit" id="searchsumitbtn" class="btn btn-primary me-5">
                <span class="indicator-label">Search</span>
                <span class="indicator-progress">
                    Search <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
    </div>
    <!--end::Compact form-->
</div>

