<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x fs-7 fw-bold" id="search-nav-tabs">
    <!--begin::Nav item-->
    <li class="nav-item mt-2" id="new-companies-tab">
     <a class="nav-link text-active-primary ms-0 me-10 py-5 active" data-bs-toggle="tab" href="#kt_tab_pane_10">
         New Companies
     </a>
 </li>
 <!--end::Nav item-->
 <!--begin::Nav item-->
 <li class="nav-item mt-2" id="all-companies-tab">
     <a class="nav-link text-active-primary ms-0 me-10 py-5 " data-bs-toggle="tab" href="#kt_tab_pane_11">
         All Companies
     </a>
 </li>
 <!--end::Nav item-->
 <!--begin::Nav item-->

 <li class="nav-item mt-2 placeholder-unsaved-tab-hidden" id="placeholder-unsaved-tab">
     <a class="nav-link text-active-primary ms-0 me-10 py-5" data-bs-toggle="tab" href="#kt_tab_pane_14">
     test
     </a>
 </li>


 <!--end::Nav item-->
 <!--begin::Nav item-->
 <li class="nav-item mt-2" id="add-filter-group-tab">
     <a class="nav-link text-active-primary ms-0 me-10 py-5 " data-bs-toggle="tab" href="#kt_tab_pane_12">
        + Add Filter Group
     </a>
 </li>
 <!--end::Nav item-->
 <!--begin::Nav item-->
 <li class="nav-item mt-2" id="saved-filter-groups-tab">
     <a class="nav-link text-active-primary ms-0 me-10 py-5" data-bs-toggle="tab" href="#kt_tab_pane_13">
         Saved Filter Groups
     </a>
 </li>
 <!--end::Nav item-->
</ul>

<script src="/js/localStorage.js"></script>