<div class="d-flex justify-content-start align-items-center" style="background: var(--secondary-accent-color); height:74px; border-radius: 8px; border: 1px solid rgba(229, 231, 235, 1); margin-bottom: 20px;" >
    <div style="height: 48px; width: 48px; background: var(--tertiary-accent-color); margin:0px 20px; border-radius: 8px; display:flex; justify-content: center; align-items: center;"> 
        <img class="" style="margin:0px; height: 24px; width: 24px;" src="/vendors/media/icons/info.svg" alt="settings-icon" />
    </div>
    <div style="font-size: 1rem; font-weight: 500; line-height:24; color:var(--secondary-text-color-grey);">
        <span style="color:var(--secondary-text-color-black);">A former CTO</span> from <span style="color: var(--secondary-text-color-black);">ContentStack</span> just became a founder.
    </div>
</div>

