<!--begin:: Funding Tab Content -->
<section style="display: flex; flex-wrap: wrap; width: 100%; padding: 20px 0;">
    <div style="display: flex; width: 100%; gap: 24px; ">
        <div class="funding-card d-flex col-4" style="padding: 20px; flex-shrink: 1; border: 1px solid var(--primary-format-color); border-radius: 12px;     align-items: center;
    justify-content: space-between;">
            <div>
                <img src="/vendors/media/icons/currency-dollar-circle.svg" alt="image"  style="padding-right:8px;"/>
                Funding Total
            </div>
            <span><%= `$${data.fundingTotal}` %></span>
        </div>
        <div class="funding-card d-flex col-4" style="padding: 20px; flex-shrink: 1;  border: 1px solid var(--primary-format-color); border-radius: 12px;     align-items: center;
    justify-content: space-between;">
            <div>
                <img src="/vendors/media/icons/bar-chart-square-02.svg" alt="image"  style="padding-right:8px;" />
                Funding Rounds
            </div>
            <span><%= data.fundingInfo.length %></span>
        </div>
        <div class="funding-card d-flex col-4" style="padding: 20px; flex-shrink: 1;  border: 1px solid var(--primary-format-color); border-radius: 12px;     align-items: center;
    justify-content: space-between;">
            <div>
                <img src="/vendors/media/icons/coins-hand.svg" alt="image"  style="padding-right:8px;" />
                Investors
            </div>
            <span><%= data.investors.length %></span>
        </div>
    </div>

    <% if(data.fundingInfo !== undefined && data.fundingInfo.length > 0){ %>
        <%- include ('../partials/tableCard.html', {contentType: 'funding', tableData: data.fundingInfo, headers: data.configs.fundingTable.headers, columnSettings: data.configs.fundingTable.columnSettings, tableTitle: data.configs.fundingTable.cardHeaderFunding.title, subtitle: data.configs.fundingTable.cardHeaderFunding.subtitle, singleLine: false}); %>
    <% } %>
</section>
<!--end:: Funding Tab Content -->